html {
  background: #f6f6f6;
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container {
  width: 900px;
  margin: 0 auto;
}

header {
  margin-top: 48px;
  text-align: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #565656;
}

main {
  position: relative;
  width: 100%;
  height: 800px;
  margin-top: 24px;
  border-radius: 8px;
  overflow: hidden;
}

#board {
  position: absolute;
  width: 100%;
  height: 800px;
  background: #ececec;
  opacity: 1;
  overflow: scroll;
}

.scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 48px;
  text-align: center;
  box-sizing: border-box;
}

.scene a {
  width: auto;
  padding: 12px 18px;
  display: inline-block;
  background: #5588a3;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}
.scene a:hover {
  background: #145374;
}
.scene a.btn-hidden {
  display: none;
}
.scene a.btn-disabled {
  background: #7d7d7d;
  cursor: not-allowed;
  user-select: none;
}

.scene p {
  width: 640px;
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.scene .message {
  font-size: 20px;
  margin-bottom: 32px;
}

.scene .question {
  width: 740px;
  background: #f6f6f6;
  padding: 6px;
  border-radius: 8px;
  box-sizing: border-box;
}

.scene .group {
  flex-direction: column;
  align-items: center;
  width: 740px;
  height: auto;
  margin-bottom: 24px;
}

.scene .group .frame {
  width: 80%;
  height: 100%;
  margin: 0 12px;
  border-radius: 8px;
  box-sizing: border-box;
}

.scene .group .option {
  display: flex;
  cursor: pointer;
}

.scene .group .option-selected {
  border: 3px solid #7d7d7d;
}

.scene .group .option p {
  align-self: center;
  width: 100%;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
}

.scene .group .option p span {
  color: #7d7d7d;
}

.scene .group .frame {
  width: 100%;
  margin: 3px 0;
}

.number {
  font-weight: bold;
  color: #145374;
}

footer {
  margin: 24px 0;
  font-size: 12px;
  color: #565656;
  text-align: center;
}
